a{
  text-decoration: none;
  color: #000;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

#loading .progress-bar{
  background: #4285f4;
  position: fixed; 
  left: 0;
  top: 0;
  width: 90%;
  height: 1vw;
  text-indent: -9999em;
  animation: progress 5s linear;
  @keyframes progress {
    from{
      width: 0%;
    }
    to{
      width: 90%
    }
  }
  @keyframes finish {
    0% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      width: 100%;
      opacity: 0;
    }
  }
  &.finished{
    width: 100%;
    opacity: 0;
    visibility: hidden;
    animation: finish 1s linear;
    // transition: width 0.7s linear, opacity 0.3s 0.4s linear, visibility 0s 0.7s linear;
  }
}

@margin: 2vw;
@borderColor: rgba(0, 0, 0, 0.2);

ul.image_list{
  list-style: none;
  margin: 0;
  padding: 0 0 1px;
  li{
    display: inline-block;
    @w: 40vw;
    width: @w;
    vertical-align: top;
    margin: @margin;
    padding: @margin;
    box-shadow: 0 0 1px @borderColor;
    transition: all 0.7s;
    &:hover{
      box-shadow: 0 0 5px 3px @borderColor;
    }
    &>a{
      display: block;
    }
    .image{
      height: @w;
      width: @w;
      margin: 0 auto;
      background: cover center;
    }
    .title{
      font-size: 14px;
      margin: @margin 0;
    }
    .info{
      text-align: right;
      font-size: 10px;
      color: rgb(161, 161, 161);
      .comment_count{
        float: left;
      }
    }
  }
}

.page{
  padding: @margin;
  .btn{
    display: block;
    text-align: center;
    margin: @margin*2 @margin;
    padding: 10px 0;
    box-shadow: 0px 0px 1px @borderColor;
  }
  header {
    padding: @margin/2 @margin/2 @margin*1.5;
    margin: 0 0 @margin;
    border-bottom: 1px solid @borderColor;
    nav {
      display: block;
      a {
        display: inline-block;
        padding: 5px 10px;
        margin: @margin/2;
        border: 1px solid @borderColor;
        &.active{
          background: yellow;
        }
      }
    }
  }
}